*{box-sizing: border-box;
}

body{
	background-color:black;
}
	
}
header{
	width: 100%;
}

h1 {
	color:orange;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  color:orange;
  text-align:center;
  font-size:48px;
  float:left;
  padding-top:1.75%;
  width:35%
}
#headerimageleft{
	float:left;
	margin-left:17.5%;
	width:15%;
}
#headerimageright{
	float:left;
	margin-right:0%;
	width:15%;
}

.winningboxleft{
	float:left;
	margin-left:31.5%;
	padding-bottom:25%;
	border: medium orange solid;
	border-right: medium orange dashed;
	width:17.5%;
	height:10%;
}

.winningboxright{
	float:left;
	padding-bottom:17%;
	border: medium orange solid;
	border-left:medium orange dashed;
	width:17.5%;
}

#winningboximage{
	width:100%;
}